<%- include("partials/header") %>
 
<div class="ui main text container segment">
    <h2 class="ui center aligned icon header">
      <i class="ticket alternate icon"></i>
    </h2>
    <div class="five wide field">
      <label>Which city to make a lottary?</label>
      <input id="currentCity" type="text" onkeyup="myFunction()" name="currentCity" placeholder="E.g Athens,GR">
    </div>
    <table id="table" class="ui compact celled definition table">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Age</th>
            <th>Current City</th>
            <th>Suggested Destination</th>
          </tr>
        </thead>
        <tbody id="Table1">
            <% for (var i = 0; i < data.length; i++) { %>
                <td class="collapsing">
                  <div class="ui checkbox">
                    <input type="checkbox" name="type" value="<%= data[i].id %>"> <label></label>
                  </div>
                </td>
                <td style="display:none;" ><%= data[i].id %></td>
                <td><%= data[i].name%></td>
                <td><%= data[i].age%></td>
                <td><%= data[i].city%></td>
                <td><%= data[i].visit%></td>
                <td  ><%= data[i].preferedCities %></td>   <!--need it to be display none-->
              <tr>
              <% } %>
            </tr>
              </div>
            </td>
        </tbody>
        <tfoot class="full-width">
          <tr>
            <th></th>
            <th colspan="4">  
                <form action="/freeticketwinner" method="POST">     
                <button class="ui small button" id="winnerButton" type="submit" > Draw winner </button> <!--SOS θελω να καλω την frre ticket winner με το array των checked boxes και να μου στελνεις τη πολη-->
                </form>
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
</div>
 
<script>
  $("#winnerButton").on('click', function() {
      var newArray = new Array();
    $("input:checkbox[name=type]:checked").each(function(){
    newArray.push($(this).val());
});

//Δε μπορω μεσώ fetch api call κανω render τη σελίδα με τον winner,σου εχω γράψει σχόλιο στην html πάνω!!!!
/*fetch('http://localhost:5000/freeticketwinner?city='+document.getElementById("currentCity").value,{   
       method: "POST", 
         
       // Adding body or contents to send 
       body:JSON.stringify( {
               id:newArray, //this is a json array
            })
       , 
         
       // Adding headers to the request 
       headers: { 
           "Content-type": "application/json; charset=UTF-8"
       }
     })
     .then((response) => response.json() //αυτο το κομμάτι θέλει βελτίωση με !reponse.ok,ώστε να βγάζει status code και μήνυμα στο χρήστη
     )
    .then((data) => {
     alert('Success:', JSON.stringify(data));  
     }).catch((error) => {
       alert('Error:', error);
     });
    
console.log(newArray);
 
});*/
  });
</script>

<script>
    function myFunction() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("currentCity");
      filter = input.value.toUpperCase();
      table = document.getElementById("Table1");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
    
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[6];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>


 <%- include("partials/footer") %>